.box {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 20%;
    top: 2%; 
}

.card {
    padding: 50px 25px;
    border-radius: 50px;
    opacity: .9;
    height: auto;
    overflow: auto;
}

button{
    text-align: center;
    position: relative;
    top: 50%;
    left: 35%;
}

.logo{
    position: relative;
    text-align: center;
    bottom: 50px;
    width: 100%;
}